.theme-dark {
    --hiq-text-color: var(--hiq-color-gray-6);
    --hiq-selection-color: var(--hiq-color-gray-2);
    --hiq-input-border-color: var(--hiq-color-gray-2);
    --hiq-input-background-color: var(--hiq-color-gray-3);
    --hiq-input-placeholder-color: var(--hiq-color-gray-5);

    --secondary-button-background-color: var(--hiq-color-gray-3);
    --secondary-button-border-color: var(--hiq-color-gray-2);
    --secondary-button-text-color: var(--hiq-color-gray-5);
    --secondary-button-hover-text-color: var(--hiq-color-gray-6);
    --navbar-background-color: hsl(220, 10%, 20%);
    --editor-nav-background-color: hsl(220, 10%, 20%);
    --editor-nav-border-color: hsl(220, 10%, 10%);
    --tooltip-background-color: hsl(220, 10%, 20%);
    --editor-panel-background-color: hsl(220, 10%, 15%);
    --editor-panel-border-color: hsl(220, 10%, 10%);
    --label-color: hsl(220, 10%, 60%);
    --info-icon-color: hsl(220, 10%, 40%);
    --controls-background-color: hsl(220, 10%, 20%);
    --pill-background-color: hsl(220, 10%, 10%);
    --editor-preview-background-color: hsl(220, 10%, 10%);
}
