.app-wrapper {
    min-width: 60rem;
}

.is-secondary {
    border-color: var(--secondary-button-border-color);
    background-color: var(--secondary-button-background-color);
    color: var(--secondary-button-text-color);
    &:hover,
    &:focus,
    &:active {
         border-color: var(--secondary-button-border-color);
         background-color: var(--secondary-button-background-color);
         color: var(--secondary-button-hover-text-color);
    }
}

.tooltip {
    z-index: 1000;
    padding: 0.25rem 0.5rem;
    border-radius: var(--hiq-border-radius);
    background-color: var(--tooltip-background-color);
    font-size: var(--hiq-font-size-small);
    color: var(--hiq-gray-lighter);
}

.animated {
    animation-duration: 0.5s;
}

.grow-height-enter-active,
.grow-height-leave-active {
    transform: scaleX(1) scaleY(1);
    transform-origin: 0 0;
    transition: transform var(--hiq-speed) var(--hiq-easing);
    will-change: transform;
}

.grow-height-enter,
.grow-height-leave-to {
    transform: scaleX(1) scaleY(0);
    overflow: hidden;
}
