.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var(--hiq-gray-lighter);
    font-size: var(--hiq-font-size-large);
    color: var(--hiq-gray-light);
}
