:root {
    /* gray palette */
    --hiq-color-gray-1: hsl(220, 10%, 5%);
    --hiq-color-gray-2: hsl(220, 10%, 10%);
    --hiq-color-gray-3: hsl(220, 10%, 20%);
    --hiq-color-gray-4: hsl(220, 10%, 40%);
    --hiq-color-gray-5: hsl(220, 10%, 60%);
    --hiq-color-gray-6: hsl(220, 10%, 90%);
    --hiq-color-gray-7: hsl(220, 10%, 95%);
    --hiq-color-gray-8: hsl(220, 10%, 98%);

    /* semantic palette */
    --hiq-color-primary: hsl(210, 100%, 50%);
    --hiq-color-success: hsl(158, 73%, 48%);
    --hiq-color-warning: hsl(46, 97%, 64%);
    --hiq-color-danger: hsl(352, 95%, 61%);

    /* applied colors */
    --hiq-html-background-color: var(--editor-preview-background-color);
    --hiq-selection-color: hsl(210, 100%, 90%);

    --hiq-container-horizontal-gap: 1rem;

    /* unitless base font size variables in px */
    --hiq-unitless-min-font-size: 14;
    --hiq-unitless-max-font-size: 15;

    /* font sizes */
    --hiq-font-size-1: 2.5rem;
    --hiq-font-size-2: 2rem;
    --hiq-font-size-3: 1.75rem;
    --hiq-font-size-4: 1.5rem;
    --hiq-font-size-5: 1rem;
    --hiq-font-size-6: 0.875rem;
    --hiq-font-size-base: var(--hiq-font-size-5);
    --hiq-font-size-large: var(--hiq-font-size-4);
    --hiq-font-size-small: var(--hiq-font-size-6);

    --hiq-font-weight-medium: 500;

    --hiq-border-radius: 4px;

    --hiq-text-color: var(--hiq-color-gray-2);
    --hiq-input-border-color: var(--hiq-color-gray-6);
    --hiq-input-background-color: white;

    --hiq-speed: 0.1s;
    --hiq-easing: ease-out;

    --secondary-button-background-color: var(--hiq-color-gray-6);
    --secondary-button-border-color: var(--hiq-color-gray-6);
    --secondary-button-text-color: var(--hiq-color-gray-4);
    --secondary-button-hover-text-color: var(--hiq-color-gray-3);
    --navbar-background-color: white;
    --editor-nav-width: 4rem;
    --editor-nav-background-color: white;
    --editor-nav-border-color: hsl(220, 10%, 90%);
    --editor-category-width: 22rem;
    --tooltip-background-color: hsl(220, 10%, 20%);
    --editor-panel-background-color: hsl(220, 10%, 98%);
    --editor-panel-border-color: hsl(220, 10%, 90%);
    --label-color: var(--hiq-color-gray-4);
    --info-icon-color: hsl(220, 10%, 90%);
    --controls-background-color: white;
    --pill-background-color: var(--hiq-color-gray-7);
    --editor-preview-background-color: var(--hiq-color-gray-7);
    --editor-settings-width: 15rem;
    --theme-thumbnail-height: 7.25rem;
    --navbar-height: 4rem;
}
